@{
    Layout = null;
    var title = ViewData["Title"] as string ?? "RizzBank";
}
<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@title</title>
        <link rel="stylesheet" href="~/css/site.css" />
        
        @RenderSection("Styles", required: false)
    </head>
<body>
<span id="dateTime" class="date-time"></span>
<a class="sidebar-toggler" onclick="toggleSidebar()" href="#" id="sideBarToggler">
    <section class="hide-sidebar-toggler-icon" id="sideBarTogglerIcon"></section>
</a>

<section class="sidebar-expanded" id="sideBar">
    <section class="sidebar-user-info">
        <section>
            <span class="user-name">@Context.Session.GetString("FirstName") @Context.Session.GetString("LastName")
                <br/>
                Środki: @Context.Session.GetString("Balance") zł
            </span>
        </section>
    </section>

    <section class="sidebar-buttons">
        <a asp-page="/Dashboard">
            <section class="sidebar-button" id="sideBarButton1"><span>Panel użytkownika</span></section>
        </a>

        <a asp-page="/SendTransfer">
            <section class="sidebar-button" id="sideBarButton2"><span>Przelew bankowy</span></section>
        </a>

        <a asp-page="/Accounts">
            <section class="sidebar-button" id="sideBarButton3"><span>Rachunki</span></section>
        </a>

        <a asp-page="/ChangeUserData">
            <section class="sidebar-button" id="sideBarButton4"><span>Edytuj konto</span></section>
        </a>

        <a asp-page="/TransfersHistory">
            <section class="sidebar-button" id="sideBarButton5"><span>Historia operacji</span></section>
        </a>

        <a asp-page="/Currencies">
            <section class="sidebar-button" id="sideBarButton6"><span>Kursy walut</span></section>
        </a>

        <a asp-page="/CreditCardInfo">
            <section class="sidebar-button" id="sideBarButton7"><span>Karta kredytowa</span></section>
        </a>

        <section class="separator"></section>

        <a asp-page="/Logout"><section class="sidebar-button" id="sideBarButton8"><span>Wyloguj się</span></section></a>
    </section>
</section>

<main class="main-with-sidebar" id="mainWithSideBar">
    @RenderBody()
</main>

<partial name="_ValidationToast"/>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="js/dashboard-layout-scripts.js"></script>
<script src="js/users-info-text-scaling.js"></script>

@RenderSection("Scripts", required: false)
</body>
</html>